@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;  
}

body {
	background: rgb(228, 95, 95);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}

button {
	border-radius: 20px;
	border: 1px solid black;
	background-color:  rgb(238, 23, 23);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
 #button_check{
	border-radius: 20px;
	border: 1px solid black;
	background-color: green;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
button:hover{
	opacity: 0.6;
}

.login_form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
#user_answer {
	background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.game_container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: scroll;
	width: 768px;
	min-height: 480px;
	max-width: 100%;
}
.player_container {
	border-radius: 10px;
	border: #FFFFFF 5px solid;
	position: relative;
	overflow: hidden;
	width: 340px;
	max-width: 50%;
	min-height: 200px;
	margin-right: 1100px;
}

/* .que_container {
	border-radius: 10px;
	border: #FFFFFF 5px solid;
	position: relative;
	overflow: hidden;
	background-color: white;
	border-top: rgb(245, 123, 9) 10px solid;
	width: 768px;
	max-width: 100%;
	min-height:20%;
	max-height: 20%;
} */

.ans_container {
	border-radius: 10px;
	border: #FFFFFF 5px solid;
	position: relative;
	overflow: hidden;
	background-color: lightblue;
	border-top: rgb(245, 123, 9) 10px solid;
	width: 300px;
	min-height:20%;
	max-height: 20%;
}

.log-in-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background-image: url("BACKground3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.transbox{
	opacity: 0.7;
	background-color: #FFFFFF;
	border: 3px solid black;
	margin: 30px;
	padding: 35px;
	width: 350px;
}
#correct-sign{
font-size: 35px;
margin-left: 10px;
display: none;
}
#wrong-sign{
	font-size: 35px;
	margin-left: 10px;
	display: none;
	}
	.align-horizontal{
		display: inline-block;
	}
.heading_playerName{
	font-family: century gothic;
	font-weight: bold;
	color: white;
	font-size: 30px;	
	margin-left: 10px;
}
	
	

